<div class="amazing-albums-content">
    <a data-tip="Left My Voicebox In A Seaside Town - In The Arms of Providence"
        href="https://www.last.fm/music/In+The+Arms+of+Providence/Left+My+Voicebox+In+A+Seaside+Town"><img
            src="/assets/misc/album-pictures/Left-My-Voicebox-In-A-Seaside-Town.png"></a>
    <a data-tip="The Manner In Which I Scream Goodbye - April's Love Affair"
        href="https://www.last.fm/music/April%27s+Love+Affair/The+Manner+In+Which+I+Scream+Goodbye"><img
            src="/assets/misc/album-pictures/The-Manner-In-Which-I-Scream-Goodbye.png"></a>
    <a data-tip="Short Cry For A Long Lie - Scenic Attraction"
        href="https://www.last.fm/music/Scenic+Attraction/Short+Cry+For+A+Long+Lie"><img
            src="/assets/misc/album-pictures/Short-Cry-For-A-Long-Lie.png"></a>
    <a data-tip="Unsaid - makeshifte"
        href="https://www.last.fm/music/makeshifte/Unsaid"><img
            src="/assets/misc/album-pictures/Unsaid.png"></a>
</div>