<div class="amazing-albums-content">
    <a data-tip="Left My Voicebox In A Seaside Town - In The Arms of Providence"
        href="https://www.last.fm/music/In+The+Arms+of+Providence/Left+My+Voicebox+In+A+Seaside+Town"><img
            src="/assets/misc/album-pictures/Left-My-Voicebox-In-A-Seaside-Town.png"></a>
    <a data-tip="The Manner In Which I Scream Goodbye - April's Love Affair"
        href="https://www.last.fm/music/April%27s+Love+Affair/The+Manner+In+Which+I+Scream+Goodbye"><img
            src="/assets/misc/album-pictures/The-Manner-In-Which-I-Scream-Goodbye.png"></a>
    <a data-tip="Short Cry For A Long Lie - Scenic Attraction"
        href="https://www.last.fm/music/Scenic+Attraction/Short+Cry+For+A+Long+Lie"><img
            src="/assets/misc/album-pictures/Short-Cry-For-A-Long-Lie.png"></a>
    <a data-tip="Unsaid - makeshifte" href="https://www.last.fm/music/makeshifte/Unsaid"><img
            src="/assets/misc/album-pictures/Unsaid.png"></a>
    <a data-tip="Razorblade Romance - HIM" href="https://www.last.fm/music/HIM/Razorblade+Romance"><img
            src="/assets/misc/album-pictures/Razorblade-Romance.png"></a>
    <a data-tip="Pleasant Point - Kill Your Romeo" href="https://www.last.fm/music/Kill+Your+Romeo/Pleasant+Point"><img
            src="/assets/misc/album-pictures/Pleasant-Point.png"></a>
    <a data-tip="We are the Captivated - Van Atta High"
        href="https://www.last.fm/music/Van+Atta+High/We+are+the+Captivated"><img
            src="/assets/misc/album-pictures/We-are-the-Captivated.png"></a>
    <a data-tip="Our Mutual Friend - Goodbye Soundscape"
        href="https://www.last.fm/music/Goodbye+Soundscape/Our+Mutual+Friend"><img
            src="/assets/misc/album-pictures/Our-Mutual-Friend.png"></a>
    <a data-tip="Even Crows Watch Telenovelas - A Last Failure"
        href="https://www.last.fm/music/A+Last+Failure/Even+Crows+Watch+Telenovelas"><img
            src="/assets/misc/album-pictures/Even-Crows-Watch-Telenovelas.png"></a>
</div>