<div class="widget bunchofshit-widget">
    <div class="bunchofshit-track">
        <div class="bunchofshit-slide bunchofshit-stats">
            <div class="stat-row">
                <span class="label">site version</span>
                <span class="value">1.8</span>
            </div>

            <div class="stat-row">
                <span class="label">days til site birthday</span>
                <span class="value" id="bunchofshit-birthday-countdown" data-tip="website's birthday is 12/17/24!!" data-site-birthday="2024-12-17">-</span>
            </div>
        </div>
        <div class="bunchofshit-slide">
            <img src="/assets/widgets/bunchofshit/pingas/pingas.png"
                style="display:block;margin:auto;max-width:100%;max-height:100%;cursor:pointer;"
                onclick="const a=document.getElementById('pingas-audio');a.currentTime=0;a.play();">
        </div>
    </div>

    <audio id="pingas-audio" preload="auto">
        <source src="/assets/widgets/bunchofshit/pingas/penis.mp3" type="audio/mpeg">
    </audio>
</div>