<div class="buttons">
        <a data-tip="vanillamilkshake.neocities.org" href="https://vanillamilkshake.neocities.org"><img
                        src="https://files.catbox.moe/ij4w4u.png" width="88" height="31"></a>
        <a data-tip="nomaakip.xyz" href="https://nomaakip.xyz"><img src="https://nomaakip.xyz/img/buttons/button2.png"
                        alt="button"></a>
        <a data-tip="crislzy.xyz" href="https://crislzy.xyz"><img
                        src="https://user-cdn.hackclub-assets.com/019ed4b1-6838-746d-a6a4-1402670fe71c/88x31.gif"
                        width="88px" height="31px" alt="Cris is lazy"></a>

        <a href="https://mattware.nekoweb.org/" data-tip="mattware.nekoweb.org"><img
                        src="https://mattware.nekoweb.org/assets/img/buttons/mattware.gif"></a>
        <a data-tip="wish13yt.github.io" href="https://wish13yt.github.io/"><img
                        src="https://wish13yt.github.io/media/button-light.png"></a>
        <a data-tip="jbc.lol" href="https://jbc.lol"><img src="https://jbc.lol/imgs/buttons/jbtn.svg" alt="jb's site"
                        style="image-rendering: pixelated;" /></a>
        <a data-tip="weirdlookingstar.neocities.org" href="https://weirdlookingstar.neocities.org"><img
                        src="https://i.postimg.cc/SNvqjDhg/button.gif"></a>
        <a data-tip="mpax235.freakybob.site" href="https://mpax235.freakybob.site"><img
                        src="https://mpax235.freakybob.site/assets/images/buttons/sitebutton.png"
                        alt="mpax235's Website"></a>
        <a data-tip="studiolena.neocities.org" href="https://studiolena.neocities.org/"><img
                        style="width: 88px; height: 31px"
                        src="https://studiolena.neocities.org/assets/img/8831studiolena.gif" /></a>
        <a data-tip="rayncoat.nekoweb.org" href="https://rayncoat.nekoweb.org/"><img style="width: 88px; height: 31px"
                        src="https://rayncoat.nekoweb.org/Art/RaynButton.gif"></a>
        <a data-tip="thxdeeply.com" href="https://thxdeeply.com"><img style="width: 88px; height: 31px"
                        src="https://thxdeeply.com/assets/buttons/dee.gif"></a>
        <a data-tip="mimineko12.neocities.org" href="https://mimineko12.neocities.org/" target="_blank">
                <img src="https://mimineko12.neocities.org/banner/mysite.gif" alt="Mimineko12's banner" width="88"
                        height="31" />
        </a>
        <a data-tip="potd99.neocities.org" href="https://potd99.neocities.org"><img
                        src="https://potd99.neocities.org/buttons/button.gif"></a>
        <a href="https://mouseling.net" data-tip="mouseling.net"><img src="/assets/buttons/mouseling.gif" /></a>
        <a href="https://ravingshapes.nekoweb.org" data-tip="ravingshapes.nekoweb.org"><img
                        src="/assets/buttons/ravingshapes.png" /></a>

        <a data-tip="funnyorangecat.neocities.org" href="https://funnyorangecat.neocities.org"><img
                        src="https://i.postimg.cc/ZRN9Mscr/focbutton.gif" width="88px" height="31px" /></a>
        <a data-tip="blueberrymuffinss.neocities.org" href="https://blueberrymuffinss.neocities.org/"><img
                        src="/assets/buttons/blueberrymuffinss.png"
                        style="height: 31px; width: 88px; border: #ae957f 1px dotted"></a>
        <a data-tip="ries.neocities.org" href="https://ries.neocities.org/" target="_blank"><img
                        src="https://ries.neocities.org/media/button.gif"></a>
</div>