<header>
    <h1>welcome to <b><i>squirrelz.xyz</i></b> !</h1>
</header>

<div class="links">
    <a href="/">home</a>
    <a href="/about">about me</a>
    <a href="/blog/">blog</a>
    <a href="/guestbook">guestbook</a>
    <a href="" id="miscTrigger">misc</a>
</div>

<hr>

<div class="misc-dropdown" id="miscDropdown">
    <div class="misc-dropdown-inner">
        <div class="misc-links">
            <a href="/misc/interests">interests</a>
            <a href="/misc/gallery">gallery</a>
            <a href="/misc/albums">albums</a>
            <a href="/misc/15millionmonkeys">15 million monkeys</a>
            <a href="/misc/credits">credits</a>
        </div>
    </div>
</div>
