<h1 class="about-heading">my interests!!</h1>

<div class="interests-text-scroll">
    <p>i have a bunch of interests in stuff like music, games, fandoms FOR games, photography, ect.</p>
    <p>some of the random shit i like to do is thrift shopping!!! i like to go thrifting to find some older tech or just
        anything cool in general. some of the stuff i try to look for are cameras, music related shit, phones, and just
        anything that has a screen and does something LMFAO</p>
    <p>actually, the <a href="https://www.cnet.com/reviews/jvc-everio-gz-mg37-review/">camera</a> i use i got from a
        random thrift store for <b>$20</b>!!! REALLLY good find AND in perfect condition!!</p>
    <p>i have some favorite games such as:</p>
    <ul class="interests-list">
        <li>slendytubbies 3 / slendytubbies 0 (and records)</li>
        <li>cry of fear</li>
        <li>garry's mod</li>
        <li>tomodachi life (1 & 2)</li>
        <li>the walking dead telltale games</li>
    </ul>
    <p>though i REALLY love the walking dead games.... probably one of my favorite serieses of all time <img
            src="/assets/icons/red-heart-normal.png"></p>
    <p>i sometimes like to play like visual novels and dating sim shit (yes i KNOW i am a fucking CHUNGUS) one game i
        really liked was 1 date danger, super good game and all of that shit LMFAO uhhh the game was taken down or
        whatever but i mean it's playable if you find it</p>
    <hr><br>
    <p>ok onto to music, my favorite genres are:</p>
    <ul class="interests-list">
        <li>post-hardcore</li>
        <li>emo</li>
        <li>screamo</li>
    </ul>
    <p>and here's some bands i like:</p>
    <ul class="interests-list">
        <li><a href="https://www.last.fm/music/Mayday!+Cried+The+Captain">Mayday! Cried The Captain</a></li>
        <li><a href="https://www.last.fm/music/In+The+Arms+of+Providence">In The Arms Of Providence</a></li>
        <li><a href="https://www.last.fm/music/I+Saw+a+Ghost">I Saw a Ghost</a></li>
        <li><a href="https://www.last.fm/music/Scenic+Attraction">Scenic Attraction</a></li>
        <li><a href="https://www.last.fm/music/makeshifte">makeshifte</a></li>
        <li><a href="https://www.last.fm/music/Oh,+The+Irony">Oh, The Irony</a></li>
        <li><a href="https://www.last.fm/music/Kill+Your+Romeo">Kill Your Romeo</a></li>
        <li><a href="https://www.last.fm/music/Brand+New+Disaster">Brand New Disaster</a></li>
        <li><a href="https://www.last.fm/music/Know+Margaret">Know Margaret</a></li>
        <li><a href="https://www.last.fm/music/The+Aubrey+Drive">The Aubrey Drive</a></li>
        <li><a href="https://www.last.fm/music/Until+This+Day">Until This Day</a></li>
        <li><a href="https://www.last.fm/music/Goodbye+Soundscape">Goodbye Soundscape</a></li>
        <li><a href="https://www.last.fm/music/HIM">HIM</a></li>
        <li><a href="https://www.last.fm/music/A+Last+Failure/">A Last Failure</a></li>
        <li><a href="https://www.last.fm/music/EmmaNJ">EmmaNJ</a></li>
        <li><a href="https://www.last.fm/music/For+All+Those+Sleeping">For All Those Sleeping</a></li>
        <li><a href="https://www.last.fm/music/The+Valley">The Valley</a></li>
        <li><a href="https://www.last.fm/music/Okay+Okay!">Okay Okay!</a></li>
        <li><a href="https://www.last.fm/music/Infugue">Infugue</a></li>
    </ul>
    <small>there's so many more but i think i already put too much LOL</small>
    <hr><br>
    <img src="/assets/misc/us.png">
</div>